@import "tailwindcss";


@layer base{
  *{
    @apply m-0 p-0 box-border
  }

  body{
    height: 100dvh;
    background-image: radial-gradient( circle farthest-corner at 50% 52.5%,  rgba(14,53,92,1) 0%, rgba(16,14,72,1) 90% );
    overflow: hidden;
  }
}

@layer utilities{


  .struct{
    cursor: grab;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.088);
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(22px);
    padding: 5px;
    border-radius: 10px;
  }
  
  .inner{
    display: flex;
  }
  
  .item{
    padding: 14px;

    & img{
      width: 90%;
      height: 90%;
      border-radius: 12px;
      object-fit: cover;
    }
  }

  .title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f0f0f0;
    margin-top: 20px;
  }
}